@charset "utf-8";
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
// BULMA VARIABLE OVER-RIDES

$family-primary: 'Montserrat', sans-serif;
$family-secondary: 'Merriweather', serif;


@import '~bulma/bulma.sass';

//  @import '~@fullcalendar/core/main.css';
//  @import '~@fullcalendar/daygrid/main.css';
//  .is-size-0 {
// font-size: 3rem !important;
//}

.text-link {
  cursor: pointer;
}
